*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	
}

body {
    background-color: #ADD8E6;
	
}

.hlavicka {
    background-color: #90EE90;
    text-align: center;
    padding: 20px;
	

}

.main p {
    display: block;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  gap: 10px;
  background-color: #2F4F4F;
  padding: 20px;
  margin-top: 20px;
  
}



.grid-container > div {
  background-color: #DAA520;
  border: 1px solid black;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  display: flex;
  
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: #2F4F4F;
  padding: 20px;
  margin-top: 20px;
}

.flex-container > div {
  background-color: #DAA520;
  width: 200px;
  margin: 10px auto;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  display: flex;
}


.flex-container > div:hover{
	border: 2px solid red;
}

.vel {
    text-align: center;
	margin-top: 50px;
}


.vel h3{
	display: inline-block;
	border: 2px solid black;
	padding: 10px;
}


.vel h3:hover{
	background-color: yellow;
}

.znac {
    text-align: center;
	margin-top: 50px;
}

.znac h3{
	display: inline-block;
	border: 2px solid black;
	padding: 10px;
}

.znac h3:hover{
	background-color: yellow;
}


.main p{
	width: 410px;
	height: 260px;
	margin-left: 300px;
	text-align: justify;
	border: 2px solid black;
	padding: 20px;
	margin-top: 80px;
	border-radius: 5px;
	display: block;
}




img{
	display: block;
	border-radius: 5px;

}

.obr img{
	float: right;
	margin-top: -300px;
	margin-right: 300px;
	
	
}



h1{
	display: inline-block;
}

a{
	display: inline-block;
	text-decoration: none;
	color: black;
	font-size: 20px;
	font-weight: bold;
}

a:hover{
	text-decoration: underline;
	background-color: yellow;
	text-shadow: 2px 2px 5px red;
}



.hlavicka h1, a{
	
	border: 2px solid black;
	padding: 10px;
	margin: 10px;
}






